@import "../../../scss/colors.scss";

:host {
    background: $white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs {
    width: 100%;
    max-width: 1150px;
    padding: 0 20px;
}
