$black: #333333;
$granite-grey: #303240;
$dark-grey: #474A59;
$grey: #858997;
$light-grey: #f5f6fa;
$white: #fff;
$blue: #009ECC;
$green: #67A300;
$light-green: #89D603;
$purple-blue: #5681EE;
$gold: #FFC618;

:root {
    --blue-border: #009ECC80;
    --green-border: #89D60380;
}
