.duration {

    &__input {
        display: inline-block;
        margin: 8px 0 12px;
        padding: 9px 12px;
        outline: none;
        line-height: 18px;
        color: #ACAFBF;
        border-radius: 3px;
        border: 1px solid #CED0DB;
        width: 100%;
        max-width: 150px;
        margin-right: 12px;
    }
}