<div class="course-list">
    <!-- <gmp-vc-search></gmp-vc-search> -->
    <button class="course-list__button course-list__button--add-course">Add course</button>
        <gmp-vc-course-item
            *ngFor="let courseItem of courseList"
            [courseItem]="courseItem"
            (deleteCourseByID)="deleteCourse($event)"
        ></gmp-vc-course-item>
    <button
        class="course-list__button course-list__button--load-more"
        (click)="loadCourses()"
    >Load more</button>
</div>
