@import "../../../scss/colors.scss";

form {
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.102), 0 2px 10px 0 rgba(29, 30, 37, 0.15);
    width: 400px;
    height: 180px;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $dark-grey;

    button {
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid $dark-grey;
        border-radius: 3px;
        color: $granite-grey;

        &[type="submit"] {
            background-color: $green;
        }
    }
}
